.error-value {
  margin: 10px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #f98888;
  color: #fff;
  padding: 5px;
  display: none;
}

#compose-button {
  float: right;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  color: #00a087;
  font-size: 1.2em;
  background-color: #d1f3ee;
  margin-top: 8px;
}

.float-fix {
  overflow: auto;
}

.tweet  {
  border: 1px solid #a9a9a9;
  margin: 20px 0;
  border-radius: 5px;
}

.tweet header, .tweet footer {
  padding: 10px;
}

.tweet header {
  background-color: #f8f8f8;
  border-radius: 5px;
  opacity: 0.5;
}

.tweet header img {
  width: 50px;
  float: left;
}

.tweet h1 {
  float: left;
  margin: 0px 10px;
}

.tweet section {
  border-bottom: 1px solid #f8f8f8;
  padding: 30px 10px;
  overflow-wrap: break-word;
}

.tweet footer {
  font-size: 0.8em;
}

.tweet .user-handle {
  float: right;
}

.tweet footer .select-icons {
  float: right;
  opacity: 0;
  color: #00a087;
  margin: 0 5px;
}

.tweet:hover {
  border: 1px solid #000;
}

.tweet:hover > header {
  opacity: 1;
}

.tweet:hover > footer .select-icons {
  opacity: 1;
}

#compose-button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}